@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.35s ease-out;
}



/* Hide scrollbar everywhere */
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}


.two-col-outer .tab-sticky  button{ padding:0.75vw 0.75vw 0.75vw 1vw !important; font-size:0.9vw;}
.two-col-outer .tab-sticky  button img{ margin-right:0.5vw  !important; width:1.5vw; height:1.5vw;}


/**STICKY**/
@media all and (min-width: 1024px) {
.dynamic-sticky {
  position: sticky;
  top: var(--header-offset, 100px); /* fallback */
}

.tab-sticky {
  position: sticky;
  top: var(--header-offset, 100px); /* fallback if JS fails */
  z-index: 40; /* ensures it stays above page content */
  background: #F4F5F7; /* same background used in tabs */
}

.dark .tab-sticky{ background: #121212;}
.dark .tab-sticky button{ color: #fff;}
}

.reveal-card h3{ font-size:clamp(1.375rem, 1vw, 1.375rem);}



@media all and (max-width:767px) {
  .left-side,
  .right-side {
    max-width: 100% !important; flex: 1 1 100% !important;
  }
}


/*STYLE FOR 1920*1080 screen at 125% scale*/
@media screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.25), 
screen and (min-width: 1024px) and (min-resolution: 120dpi) {}


/*STYLE FOR 1920*1080 screen at 150% scale*/
@media screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5), 
screen and (min-width: 1024px) and (min-resolution: 144dpi) {
  
}
