/* ProjectsSlider */
.icon-item.active-icon {position: relative;}
.icon-item.active-icon::after {content: ''; position: absolute; top:35px; right:-40px;width: 0px;height: 0px;border-style: solid;border-width: 0 10.5px 18.2px 10.5px;border-color: transparent transparent #9CDCF8 transparent;transform: rotate(90deg); opacity: 0;transition: all 0.35s ease;}
.icon-item.active-icon::after {opacity: 1;}




